/**
 * Variables overrides
 */
$font-family-sans-serif:  'Open Sans', sans-serif;
$font-family-serif:       'Roboto Slab', serif;

/**
 * Import Bootstrap
 * You can also include components individually
 * (check out bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss)
 */
@import "bootstrap";
@import "theme";